DEBUG_NAMESPACES=app:*,-app:not-this

API_URL=https(s)://IP:PORT/graphql
SUBS_URL=ws(s)://IP:PORT/graphql

MEDIA_UPLOAD_NAME=cloud_name
MEDIA_UPLOAD_URL=https://some_storage_provider
MEDIA_UPLOAD_PRESET=upload_preset
