DEBUG_NAMESPACES=app:*,-app:not-this

API_URL=https(s)://IP:PORT/graphql
SUBS_URL=ws(s)://IP:PORT/graphql

CLOUDINARY_NAME=cloud_name
CLOUDINARY_URL=https://some_storage_provider
CLOUDINARY_PRESET=upload_preset
