.git/
.gitignore
.prettierignore
.eslintignore
.editorconfig
.browserslistrc
LICENSE

dist/
build/
coverage/
*.png
*.svg
*.xml
*.ico
*.patch

node_modules/
node_modules/**
**/node_modules/
**/node_modules/**

templates/
templates/**

generated/
generated/**
